*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: auto;
    background: rgb(1,28,62);
    background: linear-gradient(90deg, rgba(1,28,62,1) 0%, rgba(54,54,115,1) 35%, rgba(96,139,145,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-box{
    padding: 5%;
}
h1, p, h2, h3{
    margin-top: 1%;
    color: blanchedalmond;
}
h2{
    text-decoration:underline ;
}